{% extends "messagebase.html" %}
{% load i18n %}
{% load url from future %} 
{% block bodyclass %}about{% endblock %}
{% block message %}
{% endblock %}
{% block sidebar %}
        <a href="{% url 'messages_inbox' %}" class="list-group-item">
            <i class="fa fa-inbox" style="padding-right: 5px"></i>{% trans "Inbox" %}
        </a>
        <a href="{% url 'messages_outbox' %}" class="list-group-item">
            <i class="fa fa-arrow-up" style="padding-right: 5px"></i>{% trans "Sent Messages" %}
        </a>
        <a href="{% url 'messages_compose' %}" class="list-group-item">
            <i class="fa fa-plus-square" style="padding-right: 5px"></i>{% trans "New Message" %}
        </a>
        <a href="{% url 'messages_trash' %}" class="list-group-item">
            <i class="fa fa-trash" style="padding-right: 5px"></i>{% trans "Trash" %}
        </a>
{% endblock %}
