{% load url from future %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/simple-sidebar.css" %}">

    <!-- js -->
    <script src="{% static "jsdown/jquery.js" %}"></script>
    <script src="{% static "jsdown/bootstrap.min.js" %}"></script>
    <script src="{% static "jsdown/jquery.easing.min.js" %}"></script>
    <script src="{% static "jsdown/JqueryDropdown.js" %}"></script>
    <script src="{% static "jsdown/carousel.js" %}"></script>
    <script src="{% static "jsdown/maps.js" %}"></script>


</head>
<body>


<!-- The Start of the Header Nav Bar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Social Plug</a>
    </div>


      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenicated %}
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Profile</a></li>
                        <li role="presentation" class="divider"></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Settings</a></li>
                        <li role="presentation" class="divider"></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'account_logout' %}">log out</a></li>
                    </ul>
                </li>

      {% else %}
          <li><a href="{% url 'account_login' %}">Sign In</a></li>
          <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
      {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- The end of the nav header -->



{% block content %}
{% endblock %}
</body>
</html>