{% extends 'home.html' %}
{% load bootstrap_tags %}

{% block main %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    {{ form.media }}
    <div class="col-sm-6">
        <form method="post">
          {% csrf_token %}
            {{ form|as_bootstrap }}
            <div class="form-actions text-center">
                  <button type="submit" class="btn btn-primary ">Create</button>
            </div>
        </form>
    </div>

{% endblock main %}