{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load socialaccount %}
{% load inbox %}
{% load staticfiles %}
{% providers_media_js %}

{% block extra_head %}
    {% if user.is_authicated %}
    {% else %}
    <script src="http://www.webglearth.com/v2/api.js"></script>
    <script>
      function initialize() {
        var earth = new WE.map('earth_div');
        WE.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(earth);

        var marker = WE.marker([37.7913967, -122.4019093]).addTo(earth);
{#        marker.bindPopup("<b>Hello world!</b><br>I am a popup.<br /><span style='font-size:10px;color:#999'>Tip: Another popup is hidden in Cairo..</span>", {maxWidth: 150, closeButton: true}).openPopup();#}

        var marker2 = WE.marker([42.877742, -97.380979]).addTo(earth);
        var marker3 = WE.marker([42.877742, -95.38093]).addTo(earth);
        var marker3 = WE.marker([44.877742, -95.38093]).addTo(earth);
        var marker4 = WE.marker([40.7913967, -122.4019093]).addTo(earth);
        var marker4 = WE.marker([35.7913967, -119.4019093]).addTo(earth);
{#        marker2.bindPopup("<b>Cairo</b><br>Yay, you found me!", {maxWidth: 120, closeButton: false});#}

        earth.setView([42.877742, -97.380979], 3);
      }
    </script>
    <style>
      #earth_div{top: 0; right: 0; bottom: 0; left: 0; position: absolute !important;}
    </style>

    {% endif %}
{% endblock %}

{% block content %}



    {% if user.is_authenticated %}
<script src="{% static "js/swamp.js" %}"></script>
<script>
var user = "{{ user.id }}";
var name = "{{ user.username }}";
console.log(user);
console.log(name);
</script>

<script>
var user = "{{ user.id }}";
var username = "{{ user.username }}";
var swamp = "{{ swamp.id }}";
console.log(swamp);
console.log(username);
</script>

<div class="col-sm-3 sidebar">
    <div class="list-group">
        <span class="list-group-item btn-success">
            Submenu
        </span>
        <a href="{% url 'messages_redirect' %}" class="list-group-item">
            <i class="fa fa-comment-o" style="padding-right: 5px"></i>Messages
                    <i class="badge" style="float: right">{% inbox_count %}</i>
        </a>
        <a href="{% url 'search_people' %}" class="list-group-item">
            <i class="fa fa-search"></i> Find people near you
        </a>
        <a href="{% url 'search_event' %}" class="list-group-item">
            <i class="fa fa-user" style="padding-right: 5px"></i>Find Personal Events
        </a>
        <a href="{% url 'event_post' %}" class="list-group-item">
            <i class="fa fa-calendar" style="padding-right: 5px"></i>Create an Event
        </a>
    </div>
</div>


        {% block main %}
      <div class="col-sm-7">
          <div class="row">
            <div class="col col-sm-12"><h2>Responsive</h2><p>In simple terms, a responsive web design figures out what resolution of
                device it's being served on. Flexible grids then size correctly to fit
                the screen. Mobile-first Bootstrap 3 is responsive.</p></div>
          </div>
        	<hr>
          <div class="row">
            <div class="col-sm-8"><h2>Lighweight</h2><p>The new Bootstrap 3 is a smaller build. The separate Bootstrap
                base and responsive.css files have now been merged into one. There is no
                more fixed grid, only fluid.</p></div>
            <div class="col-sm-4"><img class="img-responsive" src="//placehold.it/220x180/666666/FFF"></div>
          </div>
        	<hr>
          <div class="row">
            <div class="col-sm-4"><img class="img-responsive" src="//placehold.it/220x180/777777/FFF"></div>
            <div class="col-sm-8"><h2>Large, Small or Tiny</h2><p>
              The new fluid grid comes in 3 flavors, or actually sizes. The large grid <code>col-lg-*</code> works exactly like the Bootstrap 2.x <code>span*</code> did.
              There is also a small grid that is realized using the <code>col-sm-*</code> classes. This smaller grid is ideal for smartphones and tablets.
              Finally, there is the non-stacking tiny grid <code>col-*</code> that is intended for very small screens less that 480px.
              </p></div>
          </div>
        	<hr>
          <div class="row">
            <div class="col-sm-8"><h2>A Playground</h2><p>
              Bootply is a playground for Bootstrap. Designers and developers use Bootply to edit, design, prototype, test and find examples that use Bootstrap 3.
              Use Bootply to hand-code HTML, Javascript, CSS and drop in the Bootstrap classes. There is a also a visual drag-and-drop builder that is perfect for wire-framing and mockups.
              </p></div>
            <div class="col-sm-4"><img class="img-responsive" src="//placehold.it/220x180/777777/FFF"></div>
          </div>
        	<hr>
      </div>

        {% endblock %}
    {% else %}

    <body onload="initialize()">
      <div id="earth_div"></div>
        </body>

    {% endif %}

{% endblock %}