{% extends 'home.html' %}
{% load staticfiles %}
{% block main %}
    <style>
      #postmap {
        height:200px;
      }
    </style>
<script>

var lat = '{{ posts.latitude }}';
var long = '{{ posts.longitude }}'
var post = '{{ posts.title }}'
function initialize() {
  var myLatlng = new google.maps.LatLng( lat , long);
  var mapOptions = {
    zoom: 15,
    center: myLatlng
  }
  var map = new google.maps.Map(document.getElementById('postmap'), mapOptions);

  var marker = new google.maps.Marker({
      position: new google.maps.LatLng(lat,long),
      map: map,
      title: post
  });
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="col-sm-9" id="postit">
        <h3>{{ posts.title }}</h3>

    <div>{{ posts.description }}</div>
    <br>
    <div> {{ posts.time }}</div>
    <br>
    <div>{{ posts.date }} </div>
    <br>
    <div> {{ posts.category }}</div>
    <br>
    <a href="{% url 'messages_compose_to' posts.user %}"><button> Message Me! </button></a>
    <br>
<div class="col-sm-4 float-right">
  <div class="row">
    <div id="postmap"></div>
  </div>
</div>

</div>



{% endblock %}