{% extends 'home.html' %}
{%  load staticfiles %}

{% block main %}

    <div class="col-sm-5">
        <div class="col-sm-12">
            <div class="panel-group col-sm-12" id="accordion">
                {% for person, interest in people_with_interests.items %}
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ person.id }}">{{ person.user }}</a>
                          <img class="inline-block float-right" src="{{ person.avatar_url }}" alt="" style="height: 50px; width: 50px;"/>
                      </h4>
                    </div>
                    <div id="collapse{{ person.id }}" class="panel-collapse collapse">
                        {% for value in interest %}
                      <div class="panel-body">{{ value.name }}</div>
                            {% endfor %}
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>

      <div class="col-sm-4 float-right">
          <div class="row">
                <div class="col col-sm-12"><h2>People near you</h2>
                    <div id="map-canvas"></div>
                </div>
        	    <hr>
          </div>
      </div>


      <style>
          #map-canvas {
            height: 400px;
          }
    </style>
{% endblock main %}