{% extends 'home.html' %}
{%  load staticfiles %}

{% block main %}

      <div class="col-sm-7">
          <div class="row">
                <div class="col col-sm-12"><h2>People near you</h2>
                    <div id="map-canvas"></div>
                </div>
        	    <hr>
          </div>
      </div>

    <div class="col-sm-3">
        <div id="midCol" data-spy="affix" data-offset-top="300">
        <div>test</div>
    </div>
    </div>

      <style>
          #map-canvas {
            height: 400px;
            margin: 0;
            padding: 0;
          }
    </style>
{% endblock main %}