{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}
      <div class="col-sm-2">
          <ul id="sidebar" class="nav nav-stacked affix" style="border-right: 1px solid">
            <li>
                <a href="{% url 'settings' %}">Profile Settings</i>
                </a>
            </li>
            <li><a href="{% url 'socialaccount_connections' %}">Social Accounts Settings</a></li>
        </ul>
      </div>
    <div class="col-sm-9">
    {% block main %}
    {% endblock %}
    </div>

{% endblock  %}